<%- include('header', csstype="index") -%>
<%- include('navbar') -%>

	<div class="landing-image">
		<div class="hero-text">
			FESTICKET
		</div>
	</div>

	<section class="box">
		<section id="festival" class="wrapper">
			<div class="cim">Fesztiválok</div>
			<div class="table">
				<table cellpadding="0" cellspacing="0">
					<tr class="table-header-line">
						<th width="30%">NÉV</th>
						<th width="20%">DÁTUM</th>
						<th width="20%">HELYSZÍN</th>
						<th width="30%">JEGYEK</th >
					</tr>
					<% festivals.forEach(function(festival) { %>
						<tr>
							<th>
								<%= festival.nev  %>
							</th>
							<th>
								<%= festival.datum  %>
							</th>
							<th>
								<%= festival.helyszin  %>
							</th>
							<th>

								<% if(!belepve){ %>
									<a class="goto-festival-button" href="/tickets/<%= festival._id %>">Megnézem</a>
								<% } else{ %>
									<div class="options"><a class="button" href="/festivals/edit/<%=festival._id %>"> <img src="/source/images/gear.png" height="30px" width="30px"></a></div>
									<div class="delete"><a class="button" href="/festivals/delete/<%=festival._id %>"> <img src="/source/images/delete.png" height="30px" width="30px"></a></div>
									<a class="goto-festival-button" href="/tickets/<%= festival._id %>">Megnézem</a>
								<% } %>
								
							</th >
							
						</tr>
					<% }); %>
				</table>
			</div>

			<% if(belepve) { %>
				<form action="/festivals/new" method="post">
					<div class="add-button"><button class="add-button" role="button">Új Fesztivál hozzáadása</button></div>
				</form>
			<% } %>

		</section>
	</section>
	<script src="/source/js/index.js"></script>

<%-include('footer') -%>
