<%- include('header') -%>
<%-include('logged_in_navbar') -%>

    <section class="box">
        <section class="wrapper">
            <div class="cim">Új Jegy Felvétel a <%= festival._id %> fesztiválhoz</div>
            <div class="grid-container-inputs">
                <div class="name">név:</div>
                <div class="nameinput"><input type="text"></div>
                <div class="price">ár:</div>
                <div class="priceinput"><input type="text"></div>
                <div class="valid">érvényesség:</div>
                <div class="validinput"><input type="text"></div>
            </div>
            <div class="grid-container-buttons">
                <div class="sign-in"><a class="button" href="/tickets/<%= festival._id/admin">Felvétel</a></div>
                <div class="back"><a class="button" href="/tickets/<%= festival._id/admin">Vissza</a></div>
                </div>
        </section>
    </section>
<%-include('footer') -%>